<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<form th:action="@{/user-add}" th:object="${user}" method="post">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="password">Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <tr>
        <td>
            <th:block th:each="role : ${roles}">
                <input type="checkbox" name="rolesChecked" th:value="${role.role}"/>
                <label th:text="${role.role}"></label>
            </th:block>
        </td>
    </tr>
    <br/>
    <input type="submit" value="Save">
    <form th:method="GET" action="/logout">
        <input type="submit" value="Exit">
    </form>
</form>
</body>
</html>