<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<form th:action="@{/user-add}" th:object="${user}" method="post">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="password">Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <input type="radio" name="roleAdmin" th:value="ADMIN" th:text="ADMIN"/>
    <input type="radio" name="roleUser" th:value="USER" th:text="USER"/>
    <br/>
    <input type="submit" value="Save">
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</form>
</body>
</html>